my-terraform-devops-project/networking-module/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.90.0/darwin_arm64/terraform-provider-azurerm_v3.90.0_x5
my-terraform-devops-project/networking-module/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.90.0/darwin_arm64/terraform-provider-azurerm_v3.90.0_x5
